body {
  background-color: aquamarine;  
}

#demo {
font-family: 'Quicksand', sans-serif;
    font-size: 60px;
color: azure;
   height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.center { margin: 0 auto; width: 640px; }
